.nav {
    height: 50px;
    background: blue;
}

.nav div {
    display: inline;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 20px;
    color: white;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    color: white;
    padding: 5px;
}

.home{
    background-image: url("../Lion.jpg");
    background-size: cover;
    height: 100vh;
}

.home.text-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

